@import '../variables.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    color: $blue;
}

button {
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 10000px;
    transition: .2s ease-in;
    &:hover {
        opacity: .5;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
}