header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

button {
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
}