@import '../variables.scss';
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-dark;
    // padding: 15px 30px;
    border-radius: 10000px;
    width: 300px;
    border: 3px solid $bg-dark;
    .item {
        cursor: pointer;
        border-radius: 10000px;
        padding: 15px;
        transition: .2s ease-in;
        color: $black;
        font-weight: 500;
        &.active {
            background-color: white;
        }
        &:hover {
            opacity: .7;
        }
    }
}

@media screen and (max-width: 768px) {
    .nav {
        margin: 25px 0;
    }
}